* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 0;
        li {
            list-style-type: none;
        }
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    img {
        display: flex;
        max-width: 60%;
        margin: 0 auto;
    }

    .container {
        flex-direction: row;
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 50px 0;
    }

    .row div {
        background-color: lightgray;
        margin: 25px 0;
        img {
            max-width: 100%;
        }
    }

}

footer {
    max-width: 100%;
    height: 100px;
    background-color: #4e555b;
    .container {
        height: 100%;
        .row {
            height: 100%;
            div {
                ul {
                    height: 100%;
                    list-style-type: none;
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    margin-bottom: 0;
                    li {
                        color: white;
                    }
                }
            }
        }
    }
}
