* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}

header {
    max-width: 1200px;
    margin: 0 auto;
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 50px 0;
        li {
            list-style-type: none;
        }
    }
}

main {
    max-width: 1200px;
    margin: 0 auto;
    img {
        display: flex;
        max-width: 60%;
        margin: 0 auto;
    }
}